/*Light*/
@font-face {
  font-family: 'NotoSansJP';
  font-weight: 300;
  src: url('../fonts/NotoSansJP-Light.eot');
  src: url('../fonts/NotoSansJP-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NotoSansJP-Light.woff') format('woff'),
  url('../fonts/NotoSansJP-Light.oft') format('opentype');
  src: local(※), url('../fonts/NotoSansJP-Light.woff') format('woff');
}

/*Regular*/
@font-face {
  font-family: 'NotoSansJP';
  font-weight: 400;
  src: url('../fonts/NotoSansJP-Regular.eot');
  src: url('../fonts/NotoSansJP-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NotoSansJP-Regular.woff') format('woff'),
  url('../fonts/NotoSansJP-Regular.otf') format('opentype');
  src: local(※), url('../fonts/NotoSansJP-Regular.woff') format('woff');
}

/*Medium*/
@font-face {
  font-family: 'NotoSansJP';
  font-weight: 600;
  src: url('../fonts/NotoSansJP-Medium.eot');
  src: url('../fonts/NotoSansJP-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NotoSansJP-Medium.woff') format('woff'),
  url('../fonts/NotoSansJP-Medium.oft') format('opentype');
  src: local(※), url('../fonts/NotoSansJP-Medium.woff') format('woff');
}
