/*Light*/
@font-face {
  font-family: 'NotoSansJP';
  font-weight: 300;
  src: local('NotoSansJP-Light'), url('fonts/NotoSansJP-Light.eot');
  src: url('fonts/NotoSansJP-Light.eot?#iefix') format('embedded-opentype'),
  url('fonts/NotoSansJP-Light.woff2') format('woff2'),
  url('fonts/NotoSansJP-Light.woff') format('woff'),
  url('fonts/NotoSansJP-Light.otf') format('opentype');
  font-display: swap;
}

/*Regular*/
@font-face {
  font-family: 'NotoSansJP';
  font-weight: 400;
  src: local('NotoSansJP-Regular'), url('fonts/NotoSansJP-Regular.eot');
  src: url('fonts/NotoSansJP-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/NotoSansJP-Regular.woff2') format('woff2'),
  url('fonts/NotoSansJP-Regular.woff') format('woff'),
  url('fonts/NotoSansJP-Regular.otf') format('opentype');
  font-display: swap;
}

/*Medium*/
@font-face {
  font-family: 'NotoSansJP';
  font-weight: 600;
  src: local('NotoSansJP-Medium'), url('fonts/NotoSansJP-Medium.eot');
  src: url('fonts/NotoSansJP-Medium.eot?#iefix') format('embedded-opentype'),
  url('fonts/NotoSansJP-Medium.woff2') format('woff2'),
  url('fonts/NotoSansJP-Medium.woff') format('woff'),
  url('fonts/NotoSansJP-Medium.otf') format('opentype');
  font-display: swap;
}
