@font-face {
    font-family: 'TrajanPro';
    src: local('TrajanPro-Bold'), url('fonts/TrajanPro-Bold.eot');
    src: url('fonts/TrajanPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/TrajanPro-Bold.woff2') format('woff2'),
    url('fonts/TrajanPro-Bold.woff') format('woff');
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'TrajanPro';
    src:  local('TrajanPro-Regular'), url('fonts/TrajanPro-Regular.eot');
    src: url('fonts/TrajanPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/TrajanPro-Regular.woff2') format('woff2'),
    url('fonts/TrajanPro-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
