@import "../../reset.css";


.left-menu {
    background-color: #2b3e5c;
    width: 250px;
    min-height: calc(100vh - 80px);
    padding: 33px 0;
}


.left-menu .menu-list__item {
    position: relative;
    display: block;
    background-repeat: no-repeat;
    background-position: 21px 15px;
    background-color: #2b3e5c;
    background-image: url("./images/icon-lnb-option.png");
}


.left-menu .menu-list__item:after {
    content: '';
    display: block;
    width: 2px;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    background: #00a8ff;
}

.left-menu .menu-list__item.active {
    background-color: #222933;
}

.left-menu .menu-list__item.active:after {
    height: 100%;
}

.left-menu .menu-list__item.active .menu-list-depth {
    height: 100%;
}

.left-menu .menu-list__item.active .menu-list__button {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.left-menu .menu-list__item .menu-list__button {
    width: 26px;
    height: 26px;
    padding: 7px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.left-menu .menu-list__item .list-item__link {
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.left-menu .menu-list__item > .list-item__link {
    padding: 18px 12px 16px 67px;
    font-weight: 700;
    color: #ffffff;
    min-height: 60px;
}

.left-menu .menu-list-depth {
    display: none;
    padding-bottom: 20px;
}

.left-menu .menu-list-depth .depth-item__link {
    padding: 12px 12px 12px 32px;
    color: #848e9d;
}

.left-menu .menu-list-depth .depth-item__link:hover,
.left-menu .menu-list-depth .depth-item__link.active {
    color: #00a8ff;
}
