/**
 * Created by Eunjin Yang on 2019. 3. 18.
 * Github : http://github.com/jinny920311
 */

$black: #212223;
$white: #ffffff;
$purple: #6b58a7;
$navy: #3d4268;
$grey: #464646;
$lgrey: #a9a9a9;
$red: #f74242;
$border: #ccc;
$green: #09a7b4;

//font
$korea: 'NanumGothic', sans-serif, 'Malgun Gothic', '맑은 고딕';
